{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <table class="table">

                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>FirstName</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>LastName</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>PhoneNumber</th>
                        <td>{{ user.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Birthday</th>
                        <td>{{ user.birthday }}</td>
                    </tr>
                    <tr>
                        <th>District</th>
                        <td>{{ user.district }}</td>
                    </tr>
                    <tr>
                        <th>AgreedTermsAt</th>
                        <td>{{ user.agreedTermsAt }}</td>
                    </tr>
                    <tr>
                        <th>ImageRightClearance</th>
                        <td>{{ user.imageRightClearance ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>ParentalConsentValid</th>
                        <td>{{ user.parentalConsentValid ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Enabled</th>
                        <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>ChangedPasswordAt</th>
                        <td>{{ user.changedPasswordAt }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>UpdatedAt</th>
                        <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Picture</th>
                        <td><img src="{{ user.profilePicturePath|imagine_filter('squared_thumbnail_small') }}" alt="" class="img-thumbnail"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
