{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn" href="{{ path('admin_user_new') }}">{{ 'index.create'|trans({}, 'admin-user') }}</a>
                <div class="col my-3">
                    <form>
                        <div class="input-group custom-search-form">
                            <input
                                    type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'index.search.placeholder'|trans({}, 'admin-user') }}"
                                    value="{{ app.request.query.get('search') }}"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(users, 'index.email'|trans({}, 'admin-user'), 'user.email') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.firstname'|trans({}, 'admin-user'), 'user.firstName') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.lastname'|trans({}, 'admin-user'), 'user.lastName') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.phone_number'|trans({}, 'admin-user'), 'user.phoneNumber') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.birthday'|trans({}, 'admin-user'), 'user.birthday') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.district'|trans({}, 'admin-user'), 'user.district') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.image_right_clearance'|trans({}, 'admin-user'), 'user.imageRightClearance') }}</th>
                        <th>{{ knp_pagination_sortable(users, 'index.parental_consent_valid'|trans({}, 'admin-user'), 'user.parentalConsentValid') }}</th>
                        <th>{{ 'index.actions.title'|trans({}, 'admin-user') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.phoneNumber }}</td>
                            <td>{{ user.birthday }}</td>
                            <td>{{ user.district }}</td>
                            <td>{{ user.imageRightClearance ? 'index.yes'|trans({}, 'admin-user') : 'index.no'|trans({}, 'admin-user') }}</td>
                            <td>{{ user.parentalConsentValid ? 'index.yes'|trans({}, 'admin-user') : 'index.no'|trans({}, 'admin-user') }}</td>
                            <td>
                                <a href="{{ path('admin_user_show', {'id': user.id}) }}">{{ 'index.actions.show'|trans({}, 'admin-user') }}</a>
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}">{{ 'index.actions.edit'|trans({}, 'admin-user') }}</a>
                                <a href="{{ path('user_show', {'id': user.id, '_switch_user': user.email}) }}">{{ 'index.actions.take_control'|trans({}, 'admin-user') }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="18">{{ 'index.no_records'|trans({}, 'admin-user') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            {{ knp_pagination_render(users) }}
        </div>
    </div>

{% endblock %}
