{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-lg-center my-5">
            <div class="col-lg-8">
                {{ include('admin/user/_form.html.twig') }}

                <a href="{{ path('admin_user_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
