{% extends 'admin/layout/base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="text-right">
                    <a class="btn btn-primary little-btn"
                       href="{{ path('admin_user_edit', {'id':user.id}) }}">{{ 'show.edit'|trans({}, 'admin-user') }}</a>
                    {% if user.enabled %}
                        <a class="btn btn-primary little-btn"
                           href="{{ path('admin_user_deactivate', {'id':user.id}) }}">{{ 'show.deactivate'|trans({}, 'admin-user') }}</a>
                    {% else %}
                        <a class="btn btn-primary little-btn"
                           href="{{ path('admin_user_activate', {'id':user.id}) }}">{{ 'show.activate'|trans({}, 'admin-user') }}</a>
                    {% endif %}
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <img class="img-fluid rounded"
                                     src="{{ user.profilePicturePath|imagine_filter('squared_thumbnail_small') }}"
                                     alt="...">
                            </div>
                            <div class="col-lg-8">
                                <h3 class="card-text">
                                    {{ user.firstname }} {{ user.lastName|upper }}
                                </h3>
                                <p>
                                    {{ 'show.birthday'|trans({'birthday': user.birthday|format_date}, 'user') }}
                                </p>

                                {% for role in user.roles %}
                                    <p>
                                        {{ 'show.role'|trans({'role': role}, 'admin-user') }}
                                    </p>
                                {% endfor %}
                                <p>
                                    {{ 'show.district'|trans({'district': user.district}, 'user') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3>{{ 'show.contact.title'|trans({}, 'admin-user') }}</h3>
                                <p>
                                    {{ 'show.contact.email'|trans({'email': user.email}, 'user') }}
                                </p>
                                <p>
                                    {{ 'show.contact.phone_number'|trans({'phone_number': user.phoneNumber}, 'user') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.birthday.diff.y < 18 %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <h3>{{ 'show.parental_consent.title'|trans({}, 'user') }}</h3>
                                    <p>
                                        {{ 'show.parental_consent.description'|trans({'email': user.email}, 'user') }}
                                    </p>
                                    <p>
                                        {{ 'show.parental_consent.status'|trans({'parental_consent_status': user.parentalConsentValid}, 'admin-user') }}
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-primary little-btn"
                                       href="{{ path('admin_upload_parental_consent', {'id':user.id}) }}">
                                        {{ 'show.parental_consent.upload_button'|trans({}, 'user') }}
                                    </a>
                                    {% if not user.parentalConsentValid %}
                                    <a class="btn btn-primary little-btn"
                                       href="{{ path('admin_parental_consent_validate', {'id':user.id}) }}">
                                        {{ 'show.parental_consent.validate_button'|trans({}, 'admin-user') }}
                                    </a>
                                    {% endif %}
                                    {% if user.parentalConsentFile %}

                                        <a class="btn btn-primary little-btn"
                                           href="{{ path('admin_download_parental_consent', {'id':user.id}) }}">
                                            {{ 'show.parental_consent.download_button'|trans({}, 'user') }}
                                        </a>
                                    {% else %}
                                        <p>{{ 'show.parental_consent.no_file'|trans({}, 'user') }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <h3>{{ 'show.account.title'|trans({}, 'user') }}</h3>
                                <p>
                                    {{ 'show.account.created_at'|trans({'created_at': user.createdAt|format_datetime}, 'user') }}
                                </p>
                                <p><span class="badge badge-primary mb-1">
                                        {{ 'show.account.image_clearance.title'|trans({}, 'user') }}
                                        <i class="fa fa-camera"></i>
                                    </span>
                                    {{ 'show.account.image_clearance.description'|trans({'clearance' : user.imageRightClearance}, 'admin-user') }}
                                </p>
                                <p>
                                    <span class="badge badge-primary mb-1">
                                        {{ 'show.account.newsletter.title'|trans({}, 'admin-user') }}
                                        <i class="fa fa-newspaper-o"></i>
                                    </span>
                                    {{ 'show.account.newsletter.description'|trans({'newsletter': user.newsletter}, 'admin-user') }}
                                </p>
                                <p>
                                    <span class="badge badge-primary mb-1">
                                        {{ 'show.account.cgu.title'|trans({}, 'admin-user') }}
                                        <i class="fa fa-ban"></i>
                                    </span>
                                    {{ 'show.account.cgu.description'|trans({'newsletter': user.newsletter}, 'admin-user') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3>{{ 'show.security.title'|trans({}, 'user') }}</h3>
                                <p>
                                    {{ 'show.security.last_password_change'|trans({'pass_changed_at': user.createdAt|format_datetime}, 'user') }}
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-primary little-btn" href="{{ path('app_forgot_password_request') }}">
                                    {{ 'show.security.pass_change_button'|trans({}, 'admin-user') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
