{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn" href="{{ path('admin_registration_new') }}">{{ 'index.create'|trans({}, 'admin-registration') }}</a>
                <div class="col my-3">
                    <form>
                        <div class="input-group custom-search-form">
                            <input
                                    type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'index.search.placeholder'|trans({}, 'admin-registration') }}"
                                    value="{{ app.request.query.get('search') }}"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(registrations, 'index.partner'|trans({}, 'admin-registration'), 'partner.name') }}</th>
                        <th>{{ knp_pagination_sortable(registrations, 'index.action'|trans({}, 'admin-registration'), 'action.title') }}</th>
                        <th>{{ knp_pagination_sortable(registrations, 'index.occurrence'|trans({}, 'admin-registration'), 'occurrence.startAt') }}</th>
                        <th>{{ knp_pagination_sortable(registrations, 'index.volunteer'|trans({}, 'admin-registration'), 'registration.volunteer') }}</th>
                        <th>{{ knp_pagination_sortable(registrations, 'index.children_number'|trans({}, 'admin-registration'), 'registration.childrenNumber') }}</th>
                        <th>{{ 'index.status.title'|trans({}, 'admin-registration') }}</th>
                        <th>{{ 'index.actions.title'|trans({}, 'admin-registration') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration in registrations %}
                        <tr>
                            <td>{{ registration.occurrence.action.partner }}</td>
                            <td>{{ registration.occurrence.action }}</td>
                            <td>{{ registration.occurrence.startAt|format_datetime('short', 'short') }}</td>
                            <td>{{ registration.volunteer }}</td>
                            <td>{{ registration.childrenNumber }}</td>
                            <td>{{ ('index.status.' ~ registration.status)|trans({}, 'admin-registration') }}
                                {% if registration.cancelled %}
                                   {{ registration.cancelledAt|format_datetime('short', 'short') }}
                                {% endif %}
                            </td>

                            <td>
                                <a href="{{ path('admin_registration_show', {'id': registration.id}) }}">{{ 'index.actions.show'|trans({}, 'admin-registration') }}</a>
                                <a href="{{ path('admin_registration_new', {'id': registration.id}) }}">{{ 'index.actions.edit'|trans({}, 'admin-registration') }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'admin-registration') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
             {{ knp_pagination_render(registrations) }}
        </div>
    </div>
{% endblock %}
