{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ registration.id }}</td>
                    </tr>
                    <tr>
                        <th>Cancelled</th>
                        <td>{{ registration.cancelled ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>CancelledAt</th>
                        <td>{{ registration.cancelledAt }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('admin_registration_index') }}">back to list</a>

                {{ include('admin/registration/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
