{% extends 'email/email.base.html.twig' %}

{% block content %}
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                <p>
                    Please confirm your email address by clicking the following link: <br><br>
                    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
                    This link will expire in {{ expiresAt|date('g') }} hour(s).
                </p>
            </center>
        </columns>
    </row>

{% endblock %}
