{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour,<br><br>

                Pour réinitialiser votre mot de passe, cliquer sur le lien suivant : <br><br>

                <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Modifier mon mot de passe</a><br><br>

                Ce lien expirera dans {{ tokenLifetime|date('g') }} heures.<br><br>

                N'hésitez pas à nous contacter si vous rencontrez un problème : <a href="mailto:contact@tikare.fr">contact@tikare.fr</a><br><br>

                L'équipe de TiKare
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}