{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour  {{ registration.volunteer.firstname }}<br><br>

                Vous vous êtes inscrit.e à l'action {{ registration.occurrence.action }} qui devait avoir lieu le
                {{ registration.occurrence.startAt|format_date }}.<br><br>

                Nous sommes aux regrets de vous informer que cette action a été annulée. Nous espérons vous voir
                prochainement sur une autre action.<br><br>

                L'équipe de TiKare
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}
