{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour {{ registration.volunteer.firstName }},<br><br>

                Vous avez modifié votre inscription à l'action {{ registration.occurrence.action }} du
                {{ registration.occurrence.startAt|format_date('full') }},
                de {{ registration.occurrence.startAt|date('H:i') }}
                à {{ registration.occurrence.endsAt|date('H:i') }}<br><br>

                {% if registration.childrenNumber > 0 %}
                    Vous avez inscrits {{ registration.childrenNumber }} enfants vous accompagnant.<br><br>
                {% endif %}

                Lieu de rendez-vous : {{ registration.occurrence.address }}<br><br>

                Vos référents le jour de l'action : <br><br>
                {% for referrer in registration.occurrence.referrers %}
                    {{ referrer.firstname }}<br>
                {% endfor %}
                <br><br>

                Si vous devez malheureusement annuler votre participation, vous pouvez le faire depuis votre espace sur
                <a href="{{ url('occurrence_show', {'id': registration.occurrence.id}) }}">{{ url('homepage') }}</a>.
                N'hésitez pas à prévenir aussi votre référent et/ou l’équipe de TiKare :
                <a href="mailto:contact@tikare.fr">contact@tikare.fr</a><br><br>

                L'équipe de TiKare
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}
