// Color system
$tikare-blue:       #333366;
$tikare-red:        #eb4d55;
$tikare-orange:     #ff9d76;
$tikare-cream:      #f6e1e1;

$primary:       $tikare-red;
$secondary:     $tikare-blue;

$spacer: 20px;

// Body
$body-color:                $secondary;

// Links
$link-hover-color:          $secondary;
$link-hover-decoration:     none;

// Style p element.
$paragraph-margin-bottom:   $spacer * 0.75;

// Grid containers
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);

// Components
$tikare-border-radius:      35px;

/*$component-active-bg:         white;*/
$input-btn-focus-color:       none;

  // Typography
$font-family-base:          Montserrat;
$headings-font-family:      Quicksand;
$font-size-base:            0.88rem;
$line-height-base:          1.6;
$h1-font-size:              $font-size-base * 3;
$h2-font-size:              $font-size-base * 2.5;

$btn-border-radius:         $tikare-border-radius;
$btn-border-radius-lg:      $tikare-border-radius;
$btn-border-radius-sm:      $tikare-border-radius;

$input-height:                          50px;



// Navbar
$navbar-toggler-border-radius:      0;

// Cards
$card-border-radius:                0px;
$card-border-color: #eee;