{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'check-email') }}{% endblock %}

{% block body %}

    <section id="check_email_head">
        <div class="container my-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10">
                    <h1>{{ 'head-section.title'|trans({}, 'check-email') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="check_email_confirmation">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <p>{{ 'confirmation-section.confirmation.content'|trans({'%expiryPeriod%': tokenLifetime|date('g') }, 'check-email') }}</p>
                    <p>{{ 'confirmation-section.retry.content'|trans({}, 'check-email') }}<a
                                href="{{ path('app_forgot_password_request') }}"> {{ 'confirmation-section.retry.link'|trans({}, 'check-email') }}</a>
                    </p>
                    <p>{{ 'confirmation-section.register.content'|trans({}, 'check-email') }}<a
                                href="{{ path('register') }}"> {{ 'confirmation-section.register.link'|trans({}, 'check-email') }}</a>
                    </p>
                    <p>{{ 'confirmation-section.login.content'|trans({}, 'check-email') }}<a
                                href="{{ path('app_login') }}"> {{ 'confirmation-section.login.link'|trans({}, 'check-email') }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
