{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'reset-password-request') }}{% endblock %}

{% block body %}

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <section id="reset_pass_title">
        <div class="container my-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10 ">
                    <h1>{{ 'form.title'|trans({}, 'reset-password-request') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="request_reset_pass_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">

                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>
                            {{ 'form.subline'|trans({}, 'reset-password-request') }}
                        </small>
                    </div>
                    <br>

                    <button class="btn big_btn btn-primary">{{ 'form.submit'|trans({}, 'reset-password-request') }}</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}