{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'reset-password') }}{% endblock %}

{% block body %}

    <section id="reset_pass_title">
        <div class="container my-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10">
                    <h1>{{ 'form.title'|trans({}, 'reset-password') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="request_reset_pass_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn big_btn btn-primary">{{ 'form.submit'|trans({}, 'reset-password') }}</button>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
