{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour<br><br>

                {{ registration.volunteer.firstName }} vous a envoyé un message concernant l'action {{ registration.occurrence.action }}
                du {{ registration.occurrence.startAt|format_date }}.<br><br>

                Message : <br><br>
                "{{ contactFormDTO.message }}"<br><br>

                Vous pouvez lui répondre par mail : <a href="mailto:{{ registration.volunteer.email }}">{{ registration.volunteer.email }}</a>
                ou le contacter par téléphone au {{ registration.volunteer.phoneNumber }}.<br><br>

                L'équipe de TiKare
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}
