{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour<br><br>

                {{ registration.volunteer.firstName }} a modifié son inscription à l'action {{ registration.occurrence.action }}
                du {{ registration.occurrence.startAt|format_date }}.<br><br>

                Toutes les informations sur ton espace référent, depuis <a
                        href="{{ url('referrer_occurrence_index') }}">
                    {{ url('homepage') }}</a>

                L'équipe de TiKare
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}
