{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour<br><br>

                {{ user.firstName }} vient de téléverser une autorisation parentale .<br><br>

                 Tu peux retrouver cette autorisation sur le profil du bénévole : <a
                        href="{{ url('user_public_show', {'id': user.id}) }}">
                    {{ url('admin_user_show', {'id': user.id}) }}</a><br><br>

            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}
