{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'homepage') }}{% endblock %}

{% block body %}

    <!--Contact Us Section-->
    <section id="contact" class="py-3">
        <div class="container py-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <h2 class="text-center">{{ 'title'|trans({}, 'contact')|upper }}</h2>
                    <div class="separator_auto"></div>
                    <div class="text-center">
                        <p>Voila.</p>
                    </div>

                    {{ form_start(contactForm) }}
                    <div class="row mt-lg-5">
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(contactForm.firstname) }}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            {{ form_row(contactForm.lastname) }}
                        </div>
                    </div>
                    {{ form_row(contactForm.email) }}
                    {{ form_row(contactForm.message) }}
                    <div class="form-group text-center mt-lg-5">
                        <button type="submit" id="contact-submit" class="btn btn-block big_block_btn btn-primary"
                                formnovalidate>
                            {{ 'form.submit.label'|trans({}, 'contact') }}
                        </button>
                    </div>
                    {{ form_end(contactForm) }}
                </div>
            </div><!--End off row -->
        </div><!--End off container -->
    </section><!--End off Contact Section-->

{% endblock %}