<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/layout/logo-red.png') }}" class="logo logo-scrolled" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn big_btn btn-primary js-scroll-trigger" href="#calendar">
                        <span class="fa fa-search"></span> {{ 'action.link'|trans({}, 'homepage') }}
                    </a>
                </li>
                <li>
                    <a class="btn big_btn btn-primary js-scroll-trigger" href="#organization">
                        {{ 'organization.link'|trans({}, 'homepage') }}
                    </a>
                </li>
                <li>
                    <a type="button" class="btn big_btn btn-outline-primary" href={{ path('registration_index') }}>
                        {{ 'calendar.link'|trans({}, 'homepage') }}
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a type="button" class="btn big_btn btn-primary" href={{ path('app_logout') }}>
                        <i class="icofont icofont-logout"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>