{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'homepage') }}{% endblock %}

{% block body %}

    {{ include('homepage/_nav.html.twig') }}

    <!--Home Sections-->
    <header id="hello" class="home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="main_home">
                    <h1 class="text-white">{{ 'hello.baseline'|trans({}, 'homepage')|upper }} <br/></h1>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </header> <!--End off Home Sections-->

    <section id="how-it-works" class="how-it-works">
        <div class="container my-5  text-white">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h2>{{ 'how_it_works.title'|trans({}, 'homepage') }}</h2>
                        <div class="separator_auto"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ab_head mt-3">
                        <div class="ab_head_icon">
                            <i class="icon flaticon-cogwheel"></i>
                        </div>
                        <h4 class="mt-3">{{ 'how_it_works.first.title'|trans({}, 'homepage') }}</h4>
                    </div>
                    <p class="mt-3">{{ 'how_it_works.first.content'|trans({}, 'homepage') }}</p>

                </div>
                <div class="col-lg-4">
                    <div class="ab_head mt-3">
                        <div class="ab_head_icon">
                            <i class="icon flaticon-calendar"></i>
                        </div>
                        <h4 class="mt-3">{{ 'how_it_works.second.title'|trans({}, 'homepage') }}</h4>
                    </div>
                    <p class="mt-3">{{ 'how_it_works.second.content'|trans({}, 'homepage') }}</p>
                </div>

                <div class="col-lg-4">
                    <div class="ab_head mt-3">
                        <div class="ab_head_icon">
                            <i class="icon flaticon-sport-team"></i>
                        </div>
                        <h4 class="mt-3">{{ 'how_it_works.third.title'|trans({}, 'homepage')|upper }}</h4>
                    </div>
                    <p class="mt-3">{{ 'how_it_works.third.content'|trans({}, 'homepage') }}</p>
                </div>
            </div>
        </div><!--End off container -->
    </section> <!--End off About section -->

    <!--Subscribe section-->
    <section id="calendar" class="calendar">
        <div class="container pt-3">
            <div class="row justify-content-lg-center">
                {% for occurrence in occurrences %}
                    {% if occurrence.publishable %}
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <a href="{{ path('occurrence_show',  {'id': occurrence.id}) }}">
                                    <img src="{{ occurrence.action.picturePath|imagine_filter('squared_thumbnail_medium') }}"
                                         class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h4 class="text-right">
                                    <span class="badge badge-dark mb-1">
                                        {{ occurrence.action.thematic.name }}
                                        <i class="{{ occurrence.action.thematic.logoName }}"></i>
                                    </span>
                                    </h4>

                                    <h4 class="card-title">
                                        <a href="{{ path('occurrence_show',  {'id': occurrence.id}) }}">
                                            {{ occurrence.action.title }}
                                        </a>
                                    </h4>
                                    <h5 class="card-title">
                                        {{ 'occurrence.partner'|trans({'%partner%': occurrence.action.partner.name }, 'calendar') }}
                                    </h5>
                                    <p class="card-title">
                                        {{ occurrence.startAt|format_date('full', 'EEEE d MMMM')|capitalize }} {{ occurrence.startAt|date('H:i') }}
                                        - {{ occurrence.endsAt|date('H:i') }}</p>
                                    <h5>
                                        {{ 'occurrence.address'|trans({'%locality%': occurrence.address.locality|upper}, 'calendar') }}
                                    </h5>
                                    <p class="card-text">
                                        {{ 'occurrence.places'|trans({
                                            '%total_needed_vol%': occurrence.totalNeededVolunteers,
                                            '%remaining_places%': occurrence.remainingNeededVolunteers
                                        }, 'calendar') }}
                                    </p>
                                    {% if app.user %}
                                        {% set registered = false %}
                                        {% for registration in app.user.registrations %}
                                            {% if registration in occurrence.registrations %}
                                                {% if registration.cancelled %}
                                                    <h4 class="text-center">
                                                <span class="badge badge-danger">
                                                    {{ 'registration.cancelled'|trans({}, 'calendar') }}
                                                </span>
                                                    </h4>
                                                {% else %}
                                                    <h4 class="text-center">
                                                <span class="badge badge-success">
                                                    {{ 'registration.confirmed'|trans({}, 'calendar') }}
                                                </span>
                                                    </h4>
                                                {% endif %}
                                                {% set registered = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if not registered %}
                                            {% if occurrence.remainingNeededVolunteers <= 0 %}
                                                <h4 class="text-center">
                                                <span class="badge badge-danger">
                                                    {{ 'registration.full'|trans({}, 'calendar') }}
                                                </span>
                                                </h4>
                                            {% elseif occurrence.registerClosedAt|date("U") < 'now'|date("U") %}
                                                <h4 class="text-center">
                                                <span class="badge badge-danger">
                                                    {{ 'registration.closed'|trans({}, 'calendar') }}
                                                </span>
                                                </h4>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if occurrence.remainingNeededVolunteers <= 0 %}
                                            <h4 class="text-center">
                                            <span class="badge badge-danger">
                                                {{ 'registration.full'|trans({}, 'calendar') }}
                                            </span>
                                            </h4>
                                        {% elseif occurrence.registerClosedAt|date("U") < 'now'|date("U") %}
                                            <h4 class="text-center">
                                            <span class="badge badge-danger">
                                                {{ 'registration.closed'|trans({}, 'calendar') }}
                                            </span>
                                            </h4>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="separator_auto"></div>
                        </div>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="11">{{ 'occurrence.no_records'|trans({}, 'calendar') }}</td>
                    </tr>
                {% endfor %}
            </div><!--End off row -->
            <div class="text-center mb-lg-4">
                <a class="btn btn-primary big_btn" href="{{ path('occurrence_index') }}">Voir encore plus d'action</a>
            </div>

        </div><!--End off container -->
    </section><!-- End off Impress section-->

    <!--About Sections-->
    <section id="organization" class="organization my-lg-5">
        <div class="container py-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-6">
                    <figure class="figure">
                        <img src="{{ asset('build/images/homepage/homepage-organization.jpg') }}"
                             class="figure-img img-fluid rounded"
                             alt="{{ 'organization.photo.alt'|trans({}, 'homepage') }}">
                        <figcaption
                                class="figure-caption">{{ 'organization.photo.description'|trans({}, 'homepage') }}</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <h2>{{ 'organization.title'|trans({}, 'homepage')|upper }}</h2>
                        <div class="separator_auto"></div>
                    </div>
                    <div class="accordion" id="organizationAccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#organizationCollapseOne"
                                            aria-expanded="false"
                                            aria-controls="organizationCollapseOne">
                                        <i class="fa fa-angle-right accordion_dropdown"></i>{{ 'organization.accordion.first.title'|trans({}, 'homepage')|upper }}
                                    </button>
                                </h2>
                            </div>

                            <div id="organizationCollapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#organizationAccordion">
                                <div class="card-body">
                                    <p>{{ 'organization.accordion.first.content'|trans({}, 'homepage') }}</p>
                                    <a class="btn btn-primary little-btn" href="{{ path('contact_us') }}">
                                        {{ 'organization.accordion.third.link'|trans({}, 'homepage') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#organizationCollapseTwo"
                                            aria-expanded="false"
                                            aria-controls="organizationCollapseTwo">
                                        <span class="fa fa-angle-right accordion_dropdown"></span>
                                        {{ 'organization.accordion.second.title'|trans({}, 'homepage')|upper }}
                                    </button>
                                </h2>
                            </div>
                            <div id="organizationCollapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#organizationAccordion">
                                <div class="card-body">
                                    <p>{{ 'organization.accordion.second.content'|trans({}, 'homepage') }}</p>
                                    <a class="btn btn-primary little-btn" href="{{ path('contact_us') }}">
                                        {{ 'organization.accordion.third.link'|trans({}, 'homepage') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#organizationCollapseThree"
                                            aria-expanded="false"
                                            aria-controls="organizationCollapseThree">
                                        <i class="fa fa-angle-right accordion_dropdown"></i>
                                        {{ 'organization.accordion.third.title'|trans({}, 'homepage')|upper }}
                                    </button>
                                </h2>
                            </div>
                            <div id="organizationCollapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#organizationAccordion">
                                <div class="card-body">
                                    <p>{{ 'organization.accordion.third.content'|trans({}, 'homepage') }}</p>
                                    <a class="btn btn-primary little-btn" href="{{ path('contact_us') }}">
                                        {{ 'organization.accordion.third.link'|trans({}, 'homepage') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}