{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'terms') }}{% endblock %}

{% block body %}

    <!--About Sections-->
    <section id="cgu-title" class="roomy-60">
        <div class="container">
            <div class="row justify-content-lg-center my-5">
                <div class="col-lg-10">
                    <h1 class="text-center">{{ 'intro.title'|trans({},'terms')|upper }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="cgu-content">
        <div class="container">
            <div class="row justify-content-lg-center mb-5">
                <div class="col-lg-8">
                    <h2>Préambule</h2>
                    <p>Les présentes Conditions Générales ont vocation à régir l’utilisation du site internet
                        tikare.fr.</p>

                    <p>Si vous souhaitez devenir membre TiKare, vous devez les lire attentivement et les
                        accepter dans le cadre du processus de création de votre compte TiKare.</p>
                    <h2>1. Définitions</h2>
                    <p>Pour les besoins des présentes, les termes ci-après sont définis comme suit :</p>

                    <p><strong>Conditions Générales d’Utilisation</strong> : Désignent les présentes.</p>

                    <p><strong>Action</strong> : C’est une action de bénévolat publiée sur le site tikare.fr,
                        par TiKare, composée
                        d’une date, d’une heure de début et une heure de fin, un lieu de rdv précis, un nombre
                        déterminé de Place, un Référent, une ou plusieurs Thématique, des Missions claires, des
                        Conditions requises, en vue de recueillir des inscriptions de Membre.</p>

                    <p><strong>Annulation</strong> : quand un participant s’est inscrit puis désinscrit à une
                        action ou événement.</p>

                    <p><strong>Calendrier</strong> : là où figurent toutes les actions de bénévolat.</p>

                    <p><strong> Conditions requises</strong> : âge minimum requis pour l’action ou l'événement.
                    </p>

                    <p><strong>Événement</strong> : il s’agit d’une inauguration, d’une soirée de bénévole,
                        d’une AG,...</p>

                    <p><strong>Identifiants de connexion</strong> : Désigne les données nécessaires à
                        l’identification d’un Membre
                        sur le Site internet tikare.fr re se composant d’une adresse e-mail valide (Identifiant)
                        et
                        d'un mot de passe.</p>

                    <p><strong>Internaute</strong> : Personne visitant le Site sans avoir la qualité de Membre.
                    </p>

                    <p><strong>Membre</strong> : Personne physique ou morale ayant créé un compte TiKare.</p>

                    <p><strong>Missions</strong> : C’est le détail des choses à faire par le Participant lors de
                        l’Action..</p>

                    <p><strong>Partenaire</strong> : est l’organisation soutenue par les bénévoles de Tikare
                        dans le cadre d’une
                        action.</p>

                    <p><strong>Participant</strong> : une personne qui est inscrite à une ou plusieurs actions
                        ou à un évènement.</p>

                    <p><strong>Place</strong> : une disponibilité sur une action ou un évènement.
                        Référent : est un bénévole formé, validé par les administrateurs de TiKare, capable
                        d’encadrer des actions de bénévolat.</p>

                    <p><strong>Services</strong> : Services d’inscription en ligne du Site tikare.fr.</p>

                    <p><strong>Site</strong> : Désigne le site internet tikare.fr.</p>

                    <p><strong>Thématique</strong> : propre à chaque action ou événement, caractérise le type de
                        l’action
                        (environnement, lien intergénérationnel, quartier…</p>

                    <p><strong>TiKare</strong> : L’association TiKare.</p>

                    <h2>2. Objet</h2>
                    <p>Les présentes Conditions Générales d’Utilisation ont pour objet de définir les conditions
                        dans lesquelles le Site tikare.fr fournit à ses Membres le Service d’inscription en
                        ligne et
                        les conditions dans lesquelles ces derniers les utilisent.</p>

                    <h2>3. Création d’un compte TiKare</h2>
                    <h3>3.1 Dispositions générales</h3>
                    <p>Le Membre indique lors de la création du compte TiKare, un Identifiant (adresse e-mail
                        valide) et un mot de passe. Il est entièrement responsable du maintien de la
                        confidentialité
                        de ses Identifiants de connexion.</p>

                    <p>L’inscription n’est réalisée qu’à réception par le Membre d’un e-mail de confirmation
                        envoyé
                        à l’adresse e-mail indiquée par lui, qui formalise l’accord de TiKare.</p>

                    <p>TiKare peut, sans motivation, ne pas donner suite à une demande d’inscription. Par
                        ailleurs,
                        TiKare se réserve le droit de demander à tout moment des informations et données
                        d’identification complémentaires, ainsi que toutes pièces justificatives qu’elle
                        estimera
                        utiles.</p>

                    <p>L’Identifiant et le mot de passe valent preuve de l’identité du Membre et l’engagent sur
                        toute utilisation faite par son intermédiaire. Le Membre déclare qu’il n’utilisera pas
                        le
                        compte d'un autre Membre, ni divulguera ses Identifiants de connexion à un tiers. Il est
                        seul responsable de toute utilisation de ceux-ci et supportera seul les conséquences qui
                        pourraient résulter de l’utilisation par des tiers de ses Identifiants de connexion.</p>

                    <p>Les Identifiants de connexion sont strictement personnels et incessibles.</p>

                    <p>Le Membre s’engage à informer immédiatement TiKare de toute utilisation, non autorisée,
                        effective ou suspectée de son compte, Identifiants et/ou mot de passe, ou de tout autre
                        manquement avéré ou manquement suspecté.</p>

                    <p>La responsabilité de TiKare ne pourra jamais être engagée du fait de l’utilisation du
                        compte
                        d’un Membre par un Internaute et le Membre garantit TiKare contre tout recours qui
                        pourrait
                        être formé contre elle de ce fait.</p>

                    <p>Par ailleurs, le Membre qui souhaite modifier ou supprimer les informations qui auront
                        été
                        recueillies lors de la création du compte pourra le faire par l’intermédiaire de son
                        profil
                        Membre TiKare.</p>

                    <p>Enfin, certains services sont accessibles sans connexion à un compte TiKare. C’est le cas
                        par exemple de la consultation des actions à venir.</p>

                    <h3>3.2 Création d'un compte par un utilisateur</h3>
                    <p>Lors de la création d’un compte, l’Utilisateur est invité à renseigner des informations
                        personnelles telles que ses nom, prénom, adresse, adresse mail, date de naissance,
                        numéro de
                        téléphone, photo et langue parlée. Il est prévu de récolter des informations
                        supplémentaires
                        notamment pour les besoins d’utilisation du Site.</p>

                    <p>L’Utilisateur doit indiquer des Identifiants de connexion, composé d'une adresse e-mail
                        valide (Identifiant) et d'un mot de passe.</p>

                    <p>L’Utilisateur déclare au moment de son inscription et pendant toute la durée des
                        présentes
                        qu’il est âgé d'au moins 16 (seize) ans, qu’il est juridiquement capable et que toutes
                        les
                        informations qu’il fournies sont sincères et exactes.</p>

                    <h2>4. Connexion au Site tikare.fr</h2>
                    <p>Une fois l’inscription effectuée, le Membre peut commencer à utiliser les Services
                        TiKare,
                        notamment :</p>
                    <ul>
                        <li>Pour consulter le Calendrier des Actions.</li>
                        <li>Pour s’inscrire à une ou plusieurs Actions ou à un ou plusieurs Evénements.</li>
                        <li>Le Membre peut se déconnecter du Site via la fenêtre de déconnexion.</li>
                    </ul>

                    <p>Il peut se reconnecter à tout moment en utilisant les Identifiants de connexion qu’il a
                        renseignés lors de la création du Compte TiKare.</p>
                    <h2>5. Création et fonctionnement d'une Action</h2>
                    <h3>5.1 Création</h3>
                    <p>A chaque inscription d’Action au calendrier, TiKare indique un certain nombre
                        d’informations, dont les suivantes :</p>
                    <ul>
                        <li>Le nom de l’Action de bénévolat;</li>
                        <li>Le lieu de l’Action (un lieu de rdv précis) ;</li>
                        <li>L’heure de début et de fin de l’Action;</li>
                        <li>Le nombre de Place disponibles pour l’Action;</li>
                        <li>Le Partenaire (s’il y en a un);</li>
                        <li>Un Référent;</li>
                        <li>Une ou plusieurs Thématiques;</li>
                        <li>Des Missions claires et bien définies;</li>
                        <li>Des Conditions requises pour s’inscrire sur cette Action.</li>
                    </ul>
                    <p>Lors de l’inscription au calendrier d’une Action, TiKare et le Partenaire déclarent
                        respecter toutes les obligations légales et réglementaires à ce titre (obtention de
                        licences, respects des droits de propriété intellectuelle, assurances, etc.).</p>

                    <p>Ils déclarent notamment disposer de toutes les autorisations administratives requises
                        pour
                        son organisation. A ce titre, ils s’engagent notamment à respecter la réglementation
                        applicable à l’Action et notamment, sans que cette liste soit exhaustive : le code du
                        travail, la réglementation applicable à l’hygiène et à la sécurité, aux établissements
                        recevant du public, aux débits de boisson…</p>

                    <p>Il appartient à TiKare et le Partenaire de créer l’Action dans le strict respect de la
                        loi
                        applicable, de l’ordre public et des bonnes mœurs. Le Partenaire organise sous sa seule
                        responsabilité et à ses seuls risques et profits les Actions.</p>

                    <p>Le Partenaire doit s’assurer qu’il détient les droits de propriété intellectuelle
                        afférents
                        aux logos, marques, dessins etc. diffusés sur tikare.fr et utilisés par TiKare.</p>

                    <p>TiKare fait une présentation loyale et sincère de ses Actions de sorte à ne pas créer de
                        confusion ni d’erreur dans l’esprit des Participants.</p>


                    <h3>5.2 Fonctionnement</h3>
                    <h4>5.2.1 Administration de l’Action</h4>
                    <p>TiKare est seul responsable de l'administration de l’Action.
                        Les photographies d’actions, accompagnant leur description, ne sont pas contractuelles
                        et
                        n’engagent pas TiKare.</p>

                    <h4>5.2.2 Annulation d’une Action ou d’un Événement</h4>
                    <p>L’annulation d’une Action ou d’un Événement ne peut être réalisée que par TiKare.</p>

                    <p>En cas d’annulation, TiKare procède, le cas échéant, à la notification de l’annulation à
                        l’ensemble des Participants inscrits.</p>

                    <h4>5.2.3. Invitations adressées par e-mail</h4>
                    <p>TiKare pourra via le Site tikare.fr adresser un courrier électronique comportant une
                        invitation à des personnes Membres.</p>

                    <h4>5.2.4 Informations personnelles recueillies</h4>
                    <p>TiKare s’engage à conserver la confidentialité des données à caractère personnel
                        présentes
                        dans la Base de Données , le tout conformément à la loi n°78-17 du 6 Janvier 1978 dite «
                        Informatique et Libertés ». Par ailleurs, TiKare s’engage à n’utiliser les données à
                        caractère personnel des Membres s’étant inscrits sur tikare.fr que pour la gestion des
                        relations avec les Membres.</p>

                    <h4>5.2.5 Inscription manuelle</h4>
                    <p>TiKare peut inscrire de manière manuelle une ou plusieurs personnes à une Action ou un
                        Événement. Il garantit dans ce cas que ces personnes ont donné leur accord exprès pour
                        que
                        leur nom, leurs prénoms et, de manière générale, les informations qu’elles ont données à
                        TiKare apparaissent sur le Site tikare.fr.</p>

                    <h2>6 Inscription à une Action</h2>
                    <h3>6.1 Modalités d'inscription</h3>
                    <p>Le Membre qui souhaite s’inscrire ou inscrire une ou plusieurs personne(s)à une Action ou
                        un Événement doit remplir les conditions requises par TiKare pour l’Action ou
                        l’Evénement
                        en cause.</p>


                    <p>Le Membre peut aussi inscrire en tant que Participant une ou plusieurs personnes tierces
                        qui n’ont pas la qualité de Membre à la condition que cette personnes remplisse les
                        conditions requises.</p>

                    <p>Il garantit dans ce cas que ces personnes ont été informées de leur droit d’accès, de
                        modification et de suppression de ces données, qu’elles ont donné leur accord exprès
                        pour que leur nom, leurs prénoms et, de manière générale, les informations apparaissent
                        sur le Site tikare.fr.</p>

                    <h3>6.2 Droit à l'image</h3>

                    <p>Le Participant autorise TiKare à exploiter gratuitement les photos et vidéos réalisées
                        lors
                        d’une Actions ou d’un Événement dans le but de promouvoir l’activité de TiKare.
                    <h2>7 Opposition et contestation d’utilisation d’un identifiant</h2>
                    <p>Le Membre doit informer TiKare de la perte ou du vol de ses Identifiants de connexion, du
                        détournement ou de toute utilisation non autorisée de ceux-ci ou de ses données dès
                        qu’il en
                        a connaissance afin d’en demander le blocage.
                        Cette déclaration doit être réalisée par mail à l’adresse suivante : <a
                                href="mailto:contact@tikare.fr">contact@tikare.fr</a></p>

                    <p>TiKare exécutera la demande d’opposition de l’Identifiant concerné.</p>

                    <h2>8. Responsabilité</h2>
                    <h3>8.1 Actions et responsabilité</h3>

                    <p>TiKare se réserve le droit de refuser l’accès aux Services aux Membres susceptibles de
                        porter atteinte aux droits d’un tiers ou d’enfreindre des règles d’ordre publiques.</p>

                    <h3>8.2 Accès au site et responsabilité</h3>
                    <p>TiKare n’est pas responsable du fait de l’impossibilité d’accéder au Site.</p>

                    <p>TiKare ne saurait être tenue responsable des vols, destructions ou communications non
                        autorisées de données résultant d’un accès non autorisé au Site.</p>

                    <p>TiKare se réserve le droit de suspendre temporairement l'accès au Site pour des raisons
                        techniques ou de maintenance et s'engage à limiter ce type d'interruption au strict
                        nécessaire.</p>

                    <p>TiKare s'engage à faire tout son possible pour assurer la sécurité et la confidentialité
                        des
                        données échangées dans le cadre de l'utilisation du Site.</p>

                    <p>Toute personne qui utilise gratuitement le Site reconnaît que son droit à réparation est
                        limité aux mesures conservatoires prises par TiKare dans le respect de la loi
                        applicable, et
                        qu’il ne peut prétendre à aucun dédommagement.</p>

                    <h2>9. Droit de propriété de TiKare - Licence restreinte d'utilisation</h2>
                    <p>Le contenu du Site ne peut être modifié, copié, distribué, reproduit, téléchargé,
                        affiché,
                        publié, transmis ou vendu sous quelque forme ou par quelque moyen que soit, en tout ou
                        partie, sans l'accord écrit préalable de TiKare.</p>

                    <p>Les Membres sont autorisés à utiliser le Site et le contenu du Site dans les conditions
                        prévues aux présentes. Toute utilisation du Site ou de son contenu autre que celle
                        prévue
                        par les présentes est strictement interdite et pourra entraîner la résiliation des CGU à
                        l’initiative de TiKare.</p>

                    <p>L’ensemble des marques déposées et des droits d’auteurs attachés aux créations fournies
                        ou
                        accessibles via le Site, ainsi que tous les autres droits de propriété intellectuelle
                        relatifs à TiKare demeurent la propriété de ce dernier.</p>

                    <h2>10. Engagements du Membre</h2>
                    <p>Le Membre, garantit qu’aucun élément de son profil sur le Site ne porte atteinte aux
                        droits
                        de tiers ni n'est contraire à la loi, à l’ordre public et aux bonnes mœurs. Il s’engage
                        à :</p>
                    <ul>
                        <li>Exécuter les présentes en toute légalité ou dans des conditions telles qu’il n’y ait
                            pas
                            de risque d’endommager, de désactiver, de surcharger ou d'altérer le Site ;
                        </li>
                        <li>Ne pas utiliser de script automatique en vue de collecter des informations à partir
                            du Site, ni à interagir avec le Site;
                        </li>
                        <li>Ne pas publier, diffuser, ni stocker sur le Site un contenu ou un document illégal ou
                            contraire à l’ordre public et aux bonnes mœurs ;</li>
                        <li>Ne pas usurper l'identité d'une personne ou entité, falsifier ou dissimuler
                            l’identité, l’âge ou créer une fausse identité quelconque ;</li>
                        <li>Ne pas diffuser des données ou informations personnelles relatives à un tiers, telles
                            que des adresses postales, numéros de téléphone, adresses électroniques, etc. ;</li>
                    </ul>


                    <p>En cas de manquement à ces obligations, TiKare se réserve le droit de prendre toute
                        mesure
                        appropriée afin de faire cesser les agissements concernés. TiKare se réserve à ce titre
                        le
                        droit de suspendre ou de supprimer son identifiant et de bloquer son accès au Site.</p>

                    <h2>11. Données à caractère personnel</h2>
                    <p>Conformément à la loi n°78-17 du 6 janvier 1978 modifiée (dite loi « Informatique et
                        Liberté
                        »), TiKare a déclaré auprès de la CNIL, le traitement des données à caractère personnel
                        des
                        Membres sous le numéro de déclaration :.................................</p>

                    <p>En vertu de la loi susvisée, tout Membre dispose d’un droit général d’information,
                        d’accès,
                        d’opposition, de rectification et de suppression de l’ensemble des données personnelles
                        le
                        concernant, qu’il peut exercer à l’adresse suivante : TiKare, 1 Château Gaillard, 35410
                        Chateaugiron, France.
                        TiKare conservera les informations et données à caractère personnel pendant une période
                        de
                        10 (dix) ans maximum à compter de la résiliation des présentes.</p>

                    <p>L’accès à vos données personnelles est strictement réservé à l’équipe interne de TiKare.
                        Vos
                        données personnelles ne sont partagées avec un tiers (Partenaire, Autre Membre…) que
                        dans le
                        cadre des Actions pour laquelle le Participant est inscrit.</p>

                    <h2>12. Cookies</h2>
                    <h3>12.1 Cookies : Définition et utilité</h3>
                    <p>Les cookies enregistrés par nous ou par des tiers lorsque vous visitez notre site ne vous
                        reconnaissent pas personnellement en tant qu'individu, mais reconnaissent seulement
                        l'appareil que vous êtes en train d'utiliser. Les cookies ne stockent aucune donnée
                        personnelle sensible mais donnent simplement une information sur votre navigation de
                        façon à
                        ce que votre terminal puisse être reconnu plus tard.</p>

                    <p>Les cookies ne causent aucun dommage à votre appareil, mais permettent plus facilement de
                        retrouver vos préférences, de pré-remplir certains champs et d'adapter le contenu de nos
                        services</p>

                    <h3>12.2 Le contrôle des cookies</h3>
                    <p>Vous seul choisissez si vous souhaitez avoir des cookies enregistrés sur votre appareil
                        et
                        vous pouvez facilement contrôler l'enregistrement des cookies en modifiant les
                        paramètres de
                        votre logiciel de navigation.</p>

                    <h3>12.3 Le choix des cookies</h3>
                    <p>Il est important de noter que tout paramétrage que vous pouvez entreprendre sera
                        susceptible
                        de modifier votre navigation sur Internet et vos conditions d'accès à certains services
                        nécessitant l'utilisation de cookies.</p>

                    <p>Si vous refusez l'enregistrement de ces derniers dans votre terminal, ou si vous
                        supprimez
                        ceux qui y sont enregistrés, vous ne pourrez plus bénéficier d'un certain nombre de
                        fonctionnalités qui peuvent être nécessaires pour naviguer dans certains espaces de
                        notre
                        Site.</p>
                    <h2>13 Informations Légales</h2>
                    <p>Le site internet <a href="https://tikare.fr">https://tikare.fr</a> est géré par TiKare, Association déclarée auprès de la
                        préfecture d’Ille et Vilaine sous le numéro W353020928 dont le siège social est situé 1,
                        Château Gaillard - 35410 Chateaugiron (France) et représentée par Jérémy TOREL,
                        Président.</p>
                    <p>Site créé par <a href="https://www.malt.fr/profile/fabianrupin">Fabian RUPIN.</a></p>
                    <p>Tikare.fr est hébergé par la société OVH dont le siège social est situé au 2 Rue
                        Kellermann 59100 Roubaix</p>

                    <p>Pour toute question, informations sur ce site, ou sur TiKare, vous pouvez laisser un
                        message
                        à l’adresse suivante : <a href="mailto:contact@tikare.fr">contact@tikare.fr</a></p>

                    <div class="separator_left"></div>
                </div>

            </div><!--End off row-->
        </div><!--End off container -->
    </section>
{% endblock %}
