{% for msg in app.session.flashBag.get('success') %}
    <div class="container-fluid mt-5">
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {{ msg|trans({}, 'alerts') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('warning') %}
    <div class="container-fluid mt-5">
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            {{ msg|trans({}, 'alerts') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('danger') %}
    <div class="container-fluid mt-5">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{ msg|trans({}, 'alerts') }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
{% endfor %}
