<!-- scroll up-->
{#<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div><!-- End off scroll up -->#}

<footer id="footer" class="footer mt-auto py-4">
    <div class="container ">
        <div class="row justify-content-lg-center">
            <div class="col-lg-3 text-center mb-2">
                <a href="{{ path('homepage') }}"><img src="{{ asset('build/images/layout/logo-white.png') }}" class="logo logo-scrolled" alt=""></a>
            </div>
        </div>
    </div>
    {#    <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>#}
</footer>
