<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/layout/logo-red.png') }}" class="logo logo-scrolled" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_user_index') }}">{{ 'admin.users.link'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_partner_index') }}">{{ 'admin.partners.link'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_action_index') }}">{{ 'admin.actions.link'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_occurrence_index') }}">{{ 'admin.occurrences.link'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_registration_index') }}">{{ 'admin.registrations.link'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_thematic_index') }}">{{ 'admin.thematics.link'|trans({}, 'nav') }}</a>
                    </li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>