<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ 'meta.description'|trans({}, 'base') }}">
    <meta name="author" content="{{ 'meta.author'|trans({}, 'base') }}">

    <title>{% block title %}{{ 'title'|trans({}, 'base') }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
              rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('build/images/layout/favicon.png') }}">
    {% endblock %}
</head>

<body class="d-flex flex-column h-100">

{{ include('admin/layout/_nav.html.twig') }}

{{ include('admin/layout/_alerts.html.twig') }}

{% block body %}{% endblock %}

{{ include('admin/layout/_footer.html.twig') }}

{{ encore_entry_script_tags('app') }}

</body>
</html>
