<!-- Button trigger modal -->
<button type="button" class="btn btn-primary little-btn" data-toggle="modal"
        data-target="#exampleModal">
    {{ 'index.actions.un_cancel.button'|trans({}, 'registration') }}
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">{{ 'index.actions.un_cancel.modal_title'|trans({}, 'registration') }}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ 'index.actions.un_cancel.modal_message'|trans({
                    '%action%':registration.occurrence.action,
                    '%date%':registration.occurrence.startAt|format_datetime('full')
                }, 'registration')|capitalize }}
            </div>
            <div class="modal-footer text-center">
                <a class="btn btn-success big_btn"
                   href="{{ path('registration_uncancel', {'id': registration.id}) }}">
                    {{ 'index.actions.un_cancel.modal_confirm'|trans({}, 'registration') }}
                </a>
            </div>
        </div>
    </div>
</div>