{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-lg-center my-5">
            <div class="col-lg-8">
                <h1 class="mb-5">{{ 'edit.title'|trans({'%action%': occurrence.action}, 'registration') }}</h1>
                <div class="mt-5">
                    {% if occurrence.remainingChildrenPlaces > 0 %}
                        <h4>{{ 'edit.children.title'|trans({}, 'registration') }}</h4>
                        <p>{{ 'edit.children.description'|trans({
                                '%children_remaining_places%': occurrence.remainingChildrenPlaces,
                                '%children_age%': occurrence.childrenMinimumAge
                            }, 'registration') }}</p>
                    {% endif %}
                    {{ form_start(form) }}
                    {% if occurrence.remainingChildrenPlaces > 0 %}
                        {{ form_row(form.childrenNumber) }}
                    {% endif %}
                    <button class="mt-5 btn btn-block btn-primary big_block_btn">{{ 'edit.form.button.confirm'|trans({}, 'registration') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
