{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <div class="col my-3">
                    <form>
                        <div class="input-group custom-search-form">
                            <input
                                    type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'index.search.placeholder'|trans({}, 'registration') }}"
                                    value="{{ app.request.query.get('search') }}"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(registrations, 'index.partner'|trans({}, 'registration'), 'partner.name') }}</th>
                        <th>{{ knp_pagination_sortable(registrations, 'index.action'|trans({}, 'registration'), 'action.title') }}</th>
                        <th>{{ knp_pagination_sortable(registrations, 'index.occurrence'|trans({}, 'registration'), 'occurrence.startAt') }}</th>
                        <th>{{ 'index.number_with_children'|trans({}, 'registration') }}</th>
                        <th>{{ 'index.children_number'|trans({}, 'registration') }}</th>
                        <th>{{ 'index.status.title'|trans({}, 'registration') }}</th>
                        <th>{{ 'index.actions.title'|trans({}, 'registration') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration in registrations %}
                        <tr>
                            <td>{{ registration.occurrence.action.partner }}</td>
                            <td>{{ registration.occurrence.action }}</td>
                            <td>{{ registration.occurrence.startAt|format_datetime('short', 'short') }}</td>
                            <td>{{ registration.childrenNumber + 1 }}</td>
                            <td>{{ registration.childrenNumber }}</td>
                            <td>
                                {% if registration.occurrence.cancelled %}
                                    {{ 'index.status.occurrence_cancelled'|trans({}, 'registration') }}
                                {% else %}
                                    {{ ('index.status.' ~ registration.status)|trans({}, 'registration') }}
                                    {% if registration.cancelled %}
                                        {{ registration.cancelledAt|format_datetime('short', 'short') }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn little-btn btn-outline-secondary"
                                   href="{{ path('occurrence_show', {'id': registration.occurrence.id}) }}">
                                    {{ 'index.actions.show'|trans({}, 'registration') }}
                                </a>
                                {% if registration.occurrence.startAt|date("U") > 'now'|date("U") %}

                                    {% if not registration.cancelled %}
                                        {#                                        <a class="btn btn-outline-secondary"
                                                                                   href="{{ path('registration_edit', {'id': registration.id}) }}">
                                                                                    {{ 'index.actions.edit'|trans({}, 'registration') }}
                                                                                </a>#}
                                        {{ include('calendar/registration/_cancel_modal.html.twig') }}
                                    {% else %}
                                        {#                                        {{ include('calendar/registration/_uncancel_modal.html.twig') }}#}
                                    {% endif %}

                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'registration') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
