// Homepage header

.main_home {
  overflow: hidden;
  padding-top: 300px;
  padding-bottom: 230px;
  position: relative;
  z-index: 1;
  h1 {
    font-family: Raleway,sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 6.5rem;
  }
}

.home {
  background: url(../images/homepage/section1_background.jpg) no-repeat bottom center;
  background-size: cover;
  position: relative;
}

.main_subscribe {
  .form-group {
    width: 60%;
    display: inline-block;
  }
};

.contact {
  background-color: #6a6b6c;
}

.under-construction {
  background-color: #6a6b6c;
  a {
    color: $secondary;
    font-weight: bold;
    &:hover{
      color: whitesmoke;
    }
  }
}

.subscribe {
  background-color: rgba(71, 67, 67, 0.75);
  a {
    color: $secondary;
    font-weight: bold;
    &:hover{
      color: whitesmoke;
    }
  }
}

.how-it-works {
  background-color: rgba(71, 67, 67, 0.75);
}
