body {
  padding-top: 40px;
}

.big_btn{
  display: inline-block;
  padding: 14px 28px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: $tikare-border-radius;
  &:hover {
    color: $primary;
    background-color: white;
    border-color: $primary;
  }
}

.little-btn{
  display: inline-block;
  padding: 6px 18px;
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  border-radius: $tikare-border-radius;
  &:hover {
    color: $primary;
    background-color: white;
    border-color: $primary;
  }
}

.big_block_btn{
  padding: 14px 28px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: $tikare-border-radius;
  &:hover {
    color: $primary;
    background-color: white;
    border-color: $primary;
  }
}

.overlay{
  background-color: rgba(51,51,51,0.30);
  position: absolute;
  width:100%;
  height: 100%;
}

.separator_auto {
  width: 85px;
  height: 2px;
  margin: 20px auto;
  background: #333366;
}

.separator_left {
  width: 85px;
  height: 2px;
  margin: 20px 0px;
  background: #333366;
}

.accordion_dropdown {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  text-align: center;
  color: #444;
  margin-right: 15px;
  font-size: 1.5rem;
}

.accordion_title{
  vertical-align: center;
}

.accordion > .card {
  margin-bottom: 10px;
  overflow: visible;
  border-bottom-style: inset;
  >.card-header {
    border-radius: 0;
    padding: 0;
    .btn {
      padding: 0;
    }
  }
}

.ab_head {
  width: 100%;
  display: table;
}

.ab_head .ab_head_icon {
  float: left;
  margin-right: 20px;
}

.ab_head .ab_head_icon .icofont, .ab_head .ab_head_icon .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 1rem;
  background-color: #eb4d55;
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(255,104,99,.4);
}

// Footer
.footer {
  background-color: #212121;
}