{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'about-us') }}{% endblock %}

{% block body %}

    <!--About Sections-->
    <section id="about-us-title">
        <div class="container">
            <div class="row justify-content-lg-center pt-lg-5 mt-5">
                <div class="col-lg-12">
                    {#                    <h1 class="text-center pb-3">{{ 'introduction.title'|trans({},'about-us')|upper }}</h1>#}
                    <h4>{{ 'introduction.description'|trans({},'about-us') }}</h4>
                </div>
            </div>
        </div>
    </section>

    <section id="what_we_do">
        <div class="container">
            <div class="row my-5 mx-lg-5">
                <div class="col-lg-12">
                    <h1>{{ 'what_we_do.title'|trans({}, 'about-us') }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h2>{{ 'what_we_do.subtitle'|trans({}, 'about-us')|upper }}</h2>
                    <p>{{ 'what_we_do.description'|trans({}, 'about-us') }}</p>
                    <div class="separator_left"></div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion" id="aboutAccordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#aboutCollapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        <i class="fa fa-angle-right accordion_dropdown"></i>{{ 'what_we_do.accordion.first.title'|trans({}, 'about-us')|upper }}
                                    </button>
                                </h2>
                            </div>

                            <div id="aboutCollapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#aboutAccordion">
                                <div class="card-body">
                                    {{ 'what_we_do.accordion.first.content'|trans({}, 'about-us') }}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#aboutCollapseTwo" aria-expanded="false"
                                            aria-controls="aboutCollapseTwo">
                                        <span class="fa fa-angle-right accordion_dropdown"></span>
                                        {{ 'what_we_do.accordion.second.title'|trans({}, 'about-us')|upper }}
                                    </button>
                                </h2>
                            </div>
                            <div id="aboutCollapseTwo" class="collapse" aria-labelledby="headingTwo"
                                 data-parent="#aboutAccordion">
                                <div class="card-body">
                                    {{ 'what_we_do.accordion.second.content'|trans({}, 'about-us') }}
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#aboutCollapseThree"
                                            aria-expanded="false"
                                            aria-controls="aboutCollapseThree">
                                        <i class="fa fa-angle-right accordion_dropdown"></i>
                                        {{ 'what_we_do.accordion.third.title'|trans({}, 'about-us')|upper }}
                                    </button>
                                </h2>
                            </div>
                            <div id="aboutCollapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#aboutAccordion">
                                <div class="card-body">
                                    {{ 'what_we_do.accordion.third.content'|trans({}, 'about-us') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="leaders">
        <div class="container">
            <div class="row my-5 mx-lg-5">
                <div class="col-lg-12">
                    <h1>{{ 'leaders.title'|trans({}, 'about-us') }}</h1>
                </div>
            </div>
            <div class="row justify-content-lg-center mb-5">

                <div class="col-lg-3">
                    <figure class="figure">
                        <img src="{{ asset('build/images/about/jeremy.png') }}"
                             class="figure-img img-fluid rounded"
                             alt="{{ 'leaders.jeremy.photo_alt'|trans({}, 'about-us') }}">
                    </figure>
                </div>
                <div class="col-lg-7">
                    <h3 class="mt-3">{{ 'leaders.jeremy.title'|trans({}, 'about-us') }}</h3>
                    <p>{{ 'leaders.jeremy.description'|trans({}, 'about-us') }}</p>
                </div>
            </div><!--End off row-->

            <div class="row justify-content-lg-center mb-5">
                <div class="col-lg-7">
                    <h3 class="mt-3">{{ 'leaders.pierre.title'|trans({}, 'about-us') }}</h3>
                    <p>{{ 'leaders.pierre.description'|trans({}, 'about-us') }}</p>
                </div>
                <div class="col-lg-3">
                    <figure class="figure">
                        <img src="{{ asset('build/images/about/pierre.jpg') }}"
                             class="figure-img img-fluid rounded"
                             alt="{{ 'leaders.pierre.photo_alt'|trans({}, 'about-us') }}">
                    </figure>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
    </section>

    <section id="support">
        <div class="container">
            <div class="row mx-lg-5">
                <div class="col-lg-12">
                    <h1>{{ 'support.title'|trans({}, 'about-us') }}</h1>
                </div>
            </div>
            <div class="row justify-content-lg-center">

                <div class="col-lg-4">
                    <figure class="figure m-5">
                        <img src="{{ asset('build/images/about/fabian.jpg') }}"
                             class="figure-img img-fluid rounded"
                             alt="{{ 'leaders.jeremy.photo_alt'|trans({}, 'about-us') }}">
                        <p>{{ 'support.first.name'|trans({}, 'about-us') }}</p>
                        <p>{{ 'support.first.titre'|trans({}, 'about-us') }}</p>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="figure m-5">
                        <img src="{{ asset('build/images/about/benenova.png') }}"
                             class="figure-img img-fluid rounded"
                             alt="{{ 'support.third.photo_alt'|trans({}, 'about-us') }}">
                        <h6>{{ 'support.third.name'|trans({}, 'about-us') }}</h6>
                        <p>{{ 'support.third.titre'|trans({}, 'about-us') }}</p>
                    </figure>
                </div>
            </div><!--End off row-->

        </div><!--End off container -->
    </section>
{% endblock %}
