{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn"
                   href="{{ path('admin_partner_new') }}">{{ 'index.create'|trans({}, 'admin-action') }}</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'index.airtable_id'|trans({}, 'admin-action') }}</th>
                        <th>{{ 'index.title'|trans({}, 'admin-action') }}</th>
                        <th>{{ 'index.start_date'|trans({}, 'admin-action') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in actions %}
                        <tr>
                            <td><a href="{{ path('admin_action_new', {'airtableId': action.id}) }}">{{ action.id }}</a></td>
                            <td>{{ action.fields.Name }}</td>
                            {% set myVar = "Début de l'action" %}
                            {% if  attribute(action.fields, "Début de l'action") is defined %}
                                <td>{{ attribute(action.fields, "Début de l'action") }}</td>
                            {% endif %}

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'admin-action') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
        </div>
    </div>
{% endblock %}
