{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-lg-center my-5">
            <div class="col-lg-8">
                <h1>Edit Action</h1>

                {{ include('admin/action/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('admin_action_index') }}">back to list</a>

                {{ include('admin/action/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
