{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn" href="{{ path('admin_action_new') }}">{{ 'index.create'|trans({}, 'admin-action') }}</a>
                <a class="btn btn-primary little-btn" href="{{ path('admin_action_airtable_index') }}">{{ 'index.airtable-create'|trans({}, 'admin-action') }}</a
                <div class="col my-3">
                    <form>
                        <div class="input-group custom-search-form">
                            <input
                                    type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'index.search.placeholder'|trans({}, 'admin-action') }}"
                                    value="{{ app.request.query.get('search') }}"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(actions, 'index.title'|trans({}, 'admin-action'), 'action.title') }}</th>
                        <th>{{ knp_pagination_sortable(actions, 'index.partner'|trans({}, 'admin-action'), 'partner.name') }}</th>
                        <th>{{ knp_pagination_sortable(actions, 'index.contact_name'|trans({}, 'admin-action'), 'action.contactLastName') }}</th>
                        <th>{{ knp_pagination_sortable(actions, 'index.contact_phone_number'|trans({}, 'admin-action'), 'action.contactPhoneNumber') }}</th>
                        <th>{{ knp_pagination_sortable(actions, 'index.contact_email'|trans({}, 'admin-action'), 'action.contactEmail') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for action in actions %}
                        <tr>
                            <td>{{ action.title }}</td>
                            <td>{{ action.partner.name }}</td>
                            <td>{{ action.contactFirstName }} {{ action.contactLastName }}</td>
                            <td>{{ action.contactPhoneNumber }}</td>
                            <td>{{ action.contactEmail }}</td>
                            <td>
                                <a href="{{ path('admin_action_show', {'id': action.id}) }}">{{ 'index.actions.show'|trans({}, 'admin-action') }}</a>
                                <a href="{{ path('admin_action_edit', {'id': action.id}) }}">{{ 'index.actions.edit'|trans({}, 'admin-action') }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'admin-action') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            {{ knp_pagination_render(actions) }}
        </div>
    </div>
{% endblock %}

