{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ action.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ action.title }}</td>
                    </tr>
                    <tr>
                        <th>Partenaire</th>
                        <td>{{ action.partner.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ action.description }}</td>
                    </tr>
                    <tr>
                        <th>PictureFilename</th>
                        <td>{{ action.pictureFilename }}</td>
                    </tr>
                    <tr>
                        <th>ContactFirstName</th>
                        <td>{{ action.contactFirstName }}</td>
                    </tr>
                    <tr>
                        <th>ContactLastName</th>
                        <td>{{ action.contactLastName }}</td>
                    </tr>
                    <tr>
                        <th>ContactRole</th>
                        <td>{{ action.contactRole }}</td>
                    </tr>
                    <tr>
                        <th>ContactPhoneNumber</th>
                        <td>{{ action.contactPhoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>ContactEmail</th>
                        <td>{{ action.contactEmail }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('admin_action_index') }}">back to list</a>

                <a href="{{ path('admin_action_edit', {'id': action.id}) }}">edit</a>

                {{ include('admin/action/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

