{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container mb-5">
        <h2 class="text-center my-5">{{ occurrence.action.title|upper }}</h2>
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7">
                <img class="img-fluid rounded mb-5 card-img-top"
                     src="{{ occurrence.action.picturePath|imagine_filter('squared_thumbnail_large') }}"
                     alt="...">
            </div>
            <div class="col-lg-5">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{{ 'show.date.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ occurrence.startAt|format_date('full')|capitalize }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.schedule.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.schedule.value'|trans({
                                    '%start_time%':occurrence.startAt|date('H:i'),
                                    '%end_time%':occurrence.endsAt|date('H:i'),
                                    '%duration%':occurrence.duration,
                                }, 'occurrence') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.address.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.address.line_1'|trans({
                                    '%street_number%':occurrence.address.streetNumber,
                                    '%route%':occurrence.address.route,
                                }, 'occurrence') }}<br>
                                {{ 'show.address.line_2'|trans({
                                    '%postal_code%':occurrence.address.postalCode,
                                    '%locality%':occurrence.address.locality|upper,
                                }, 'occurrence') }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'show.referrer.title'|trans({}, 'occurrence') }}</th>
                            <td>
                                <table class="table-borderless table-sm">
                                    {% for referrer in occurrence.referrers %}
                                        <tr>
                                            <th>
                                                <a href="{{ path('user_public_show', {'id': referrer.id}) }}">{{ referrer.firstName }} {{ referrer.lastName }}</a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'show.partner.title'|trans({}, 'occurrence') }}</th>
                            <td>
                                <table class="table-borderless table-sm">
                                    <tr>
                                        <td>
                                            {{ occurrence.action.contactFirstName }}
                                            {{ occurrence.action.contactLastName }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{ occurrence.action.contactPhoneNumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ occurrence.action.contactEmail }}</td>
                                    </tr>
                                </table>
                            </td>

                        </tr>
                        <tr>
                            <th>{{ 'show.total_places.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.total_places.value'|trans({
                                    '%total_needed_vol%': occurrence.totalNeededVolunteers
                                }, 'occurrence') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.remaining_places.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.remaining_places.value'|trans({
                                    '%remaining_places%': occurrence.remainingNeededVolunteers
                                }, 'occurrence') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.registration_closing.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ occurrence.registerClosedAt|format_datetime('medium')|capitalize }}</td>
                        </tr>
                        </tbody>
                    </table>

                    {% if occurrence.childrenMaximumNumber > 0 %}
                        <div class="card text-white bg-secondary text-center mb-4 ml-lg-5 mr-lg-5">
                            <div class="card-body">
                                <h5 class="card-title mb-2 ">{{ 'show.children.title'|trans({}, 'occurrence') }}</h5>
                                <p class="card-text">{{ 'show.children.description'|trans({
                                        '%children_age%':occurrence.childrenMinimumAge,
                                        '%max_children%': occurrence.childrenMaximumNumber
                                    }, 'occurrence') }}</p>
                                <p class="card-text">{{ 'show.children.value'|trans({'%children_remaining_places%': occurrence.remainingChildrenPlaces,}, 'occurrence') }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <table class="table table-responsive table-hover">
                    <tbody>
                    <tr>
                        <th>{{ 'show.user.name'|trans({}, 'referrer-occurrence') }}</th>
                        <th>{{ 'show.user.phone_number'|trans({}, 'referrer-occurrence') }}</th>
                        <th>{{ 'show.user.email'|trans({}, 'referrer-occurrence') }}</th>
                        <th>{{ 'show.user.children_number'|trans({}, 'referrer-occurrence') }}</th>
                    </tr>
                    {% for registration in occurrence.registrations %}
                        {% if registration.status == 'confirmed' %}
                            <tr>
                                <td>
                                    <a href="{{ path('user_public_show', {'id': registration.volunteer.id}) }}">
                                        {{ registration.volunteer.firstName }} {{ registration.volunteer.lastName }}
                                    </a>
                                </td>
                                <td>{{ registration.volunteer.phoneNumber }}</td>
                                <td>{{ registration.volunteer.email }}</td>
                                <td>{{ registration.childrenNumber }}</td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td>{{ 'show.user.no_records'|trans({}, 'referrer-occurrence') }}
                            <td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <p>{{ occurrence.action.description }}</p>
                <h2>{{ occurrence.action.partner.name }}</h2>
                <p>{{ occurrence.action.partner.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
