{% extends 'admin/layout/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="table-responsive">
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LogoName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thematic in thematics %}
            <tr>
                <td>{{ thematic.id }}</td>
                <td>{{ thematic.name }}</td>
                <td>{{ thematic.logoName }}</td>
                <td>
                    <a href="{{ path('admin_thematic_show', {'id': thematic.id}) }}">show</a>
                    <a href="{{ path('admin_thematic_edit', {'id': thematic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_thematic_new') }}">Create new</a>
        </div>
    </div>
</div>
{% endblock %}
