{% extends 'admin/layout/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row justify-content-lg-center my-5">
        <div class="col-lg-8">
    <h1>Create new Thematic</h1>

    {{ include('admin/thematic/_form.html.twig') }}

    <a href="{{ path('admin_thematic_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
