{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ thematic.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ thematic.name }}</td>
                    </tr>
                    <tr>
                        <th>LogoName</th>
                        <td>{{ thematic.logoName }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('admin_thematic_index') }}">back to list</a>

                <a href="{{ path('admin_thematic_edit', {'id': thematic.id}) }}">edit</a>

                {{ include('admin/thematic/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
