{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'browser_tab_title'|trans({}, 'calendar') }}{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ 'title'|trans({'occurrences_number': pagination.totalItemCount }, 'calendar') }}</h1>
            </div>

            <div class="col mt-3">
                <form>
                    <div class="input-group custom-search-form">
                        <input
                                type="text"
                                name="search"
                                class="form-control"
                                placeholder="{{ 'search.placeholder'|trans({}, 'calendar') }}"
                                value="{{ app.request.query.get('search') }}"
                        >
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center mt-4">

            {% for occurrence in pagination %}
                {% if occurrence.publishable %}
                    <div class="col-md-4">
                        <div class="card mb-2">
                            <a href="{{ path('occurrence_show',  {'id': occurrence.id}) }}">
                                <img src="{{ occurrence.action.picturePath|imagine_filter('squared_thumbnail_medium') }}"
                                     class="card-img-top" alt="...">
                            </a>
                            <div class="card-body">
                                <h4 class="text-right">
                                    <span class="badge badge-dark mb-1">
                                        {{ occurrence.action.thematic.name }}
                                        <i class="{{ occurrence.action.thematic.logoName }}"></i>
                                    </span>
                                </h4>

                                <h4 class="card-title">
                                    <a href="{{ path('occurrence_show',  {'id': occurrence.id}) }}">
                                        {{ occurrence.action.title }}
                                    </a>
                                </h4>
                                <h5 class="card-title">
                                    {{ 'occurrence.partner'|trans({'partner': occurrence.action.partner.name }, 'calendar') }}
                                </h5>
                                <p class="card-title">
                                    {{ occurrence.startAt|format_date('full', 'EEEE d MMMM')|capitalize }} {{ occurrence.startAt|date('H:i') }}
                                    - {{ occurrence.endsAt|date('H:i') }}</p>
                                <h5>
                                    {{ 'occurrence.address'|trans({'locality': occurrence.address.locality|upper}, 'calendar') }}
                                </h5>
                                <p class="card-text">
                                    {{ 'occurrence.places'|trans({
                                        'total_needed_vol': occurrence.totalNeededVolunteers,
                                        'remaining_places': occurrence.remainingNeededVolunteers
                                    }, 'calendar') }}
                                </p>
                                {% if app.user %}
                                    {% set registered = false %}
                                    {% for registration in app.user.registrations %}
                                        {% if registration in occurrence.registrations %}
                                            {% if registration.cancelled %}
                                                <h4 class="text-center">
                                                <span class="badge badge-danger">
                                                    {{ 'registration.cancelled'|trans({}, 'calendar') }}
                                                </span>
                                                </h4>
                                            {% else %}
                                                <h4 class="text-center">
                                                <span class="badge badge-success">
                                                    {{ 'registration.confirmed'|trans({}, 'calendar') }}
                                                </span>
                                                </h4>
                                            {% endif %}
                                            {% set registered = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not registered %}
                                        {% if occurrence.remainingNeededVolunteers <= 0 %}
                                            <h4 class="text-center">
                                                <span class="badge badge-danger">
                                                    {{ 'registration.full'|trans({}, 'calendar') }}
                                                </span>
                                            </h4>
                                        {% elseif occurrence.registerClosedAt|date("U") < 'now'|date("U") %}
                                            <h4 class="text-center">
                                                <span class="badge badge-danger">
                                                    {{ 'registration.closed'|trans({}, 'calendar') }}
                                                </span>
                                            </h4>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if occurrence.remainingNeededVolunteers <= 0 %}
                                        <h4 class="text-center">
                                            <span class="badge badge-danger">
                                                {{ 'registration.full'|trans({}, 'calendar') }}
                                            </span>
                                        </h4>
                                    {% elseif occurrence.registerClosedAt|date("U") < 'now'|date("U") %}
                                        <h4 class="text-center">
                                            <span class="badge badge-danger">
                                                {{ 'registration.closed'|trans({}, 'calendar') }}
                                            </span>
                                        </h4>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="separator_auto"></div>
                    </div>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="11">{{ 'occurrence.no_records'|trans({}, 'calendar') }}</td>
                </tr>
            {% endfor %}
        </div>
        <div class="row justify-content-center mt-5">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}