{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container mb-5">
        <h2 class="text-center mt-5">
            {{ occurrence.action.title|upper }}
            {% if occurrence.remainingNeededVolunteers <= 0 %}
                <span class="badge badge-danger">{{ 'registration.full'|trans({}, 'calendar') }}</span>
            {% endif %}
        </h2>
        <div class="row justify-content-center mt-5">

            <div class="col-lg-7">
                <img class="img-fluid rounded mb-5 card-img-top"
                     src="{{ occurrence.action.picturePath|imagine_filter('squared_thumbnail_large') }}"
                     alt="...">
            </div>
            <div class="col-lg-5">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{{ 'show.date.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ occurrence.startAt|format_date('full')|capitalize }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.schedule.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.schedule.value'|trans({
                                    '%start_time%':occurrence.startAt|date('H:i'),
                                    '%end_time%':occurrence.endsAt|date('H:i'),
                                    '%duration%':occurrence.duration,
                                }, 'occurrence') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.address.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.address.line_1'|trans({
                                    '%street_number%':occurrence.address.streetNumber,
                                    '%route%':occurrence.address.route,
                                }, 'occurrence') }}<br>
                                {{ 'show.address.line_2'|trans({
                                    '%postal_code%':occurrence.address.postalCode,
                                    '%locality%':occurrence.address.locality|upper,
                                }, 'occurrence') }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'show.referrer.title'|trans({}, 'occurrence') }}</th>
                            <td>
                                <table class="table-borderless table-sm">
                                    {% for referrer in occurrence.referrers %}
                                        <tr>
                                            <th>
                                                <a href="{{ path('user_public_show', {'id': referrer.id}) }}">{{ referrer.firstName }} {{ referrer.lastName }}</a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'show.total_places.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.total_places.value'|trans({
                                    '%total_needed_vol%': occurrence.totalNeededVolunteers
                                }, 'occurrence') }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'show.remaining_places.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ 'show.remaining_places.value'|trans({
                                    '%remaining_places%': occurrence.remainingNeededVolunteers
                                }, 'occurrence') }}</td>
                        </tr>

                        <tr>
                            <th>{{ 'show.registration_closing.title'|trans({}, 'occurrence') }}</th>
                            <td>{{ occurrence.registerClosedAt|format_datetime('medium')|capitalize }}</td>
                        </tr>


                        </tbody>
                    </table>
                    <div class="text-center mb-3">
                        {% if app.user %}
                            {% set registered = false %}
                            {% for registration in app.user.registrations %}
                                {% if registration in occurrence.registrations %}
                                    {% set registered = true %}
                                    {% if registration.occurrence.startAt|date("U") > 'now'|date("U") %}
                                        {% if not registration.cancelled %}
                                            <a href="{{ path('registration_edit',  {'id': registration.id}) }}"
                                               class="btn little-btn btn-primary">{{ 'occurrence.button.edit'|trans({}, 'calendar') }}</a>
                                            {{ include('calendar/registration/_cancel_modal.html.twig') }}
                                        {% else %}
                                            {{ include('calendar/registration/_uncancel_modal.html.twig') }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if not registered and occurrence.remainingNeededVolunteers > 0 %}
                                {% if occurrence.open %}
                                    <a href="{{ path('registration_new',  {'id': occurrence.id}) }}"
                                       class="btn little-btn btn-primary">{{ 'occurrence.button.register'|trans({}, 'calendar') }}</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a href="{{ path('registration_new',  {'id': occurrence.id}) }}"
                               class="btn little-btn btn-primary">{{ 'occurrence.button.register'|trans({}, 'calendar') }}</a>
                        {% endif %}
                    </div>

                    {% if occurrence.childrenMaximumNumber > 0 %}
                        <div class="card text-white bg-secondary text-center mb-4 ml-lg-5 mr-lg-5">
                            <div class="card-body">
                                <h5 class="card-title mb-2 ">{{ 'show.children.title'|trans({}, 'occurrence') }}</h5>
                                <p class="card-text">{{ 'show.children.description'|trans({
                                        '%children_age%':occurrence.childrenMinimumAge,
                                        '%max_children%': occurrence.childrenMaximumNumber
                                    }, 'occurrence') }}</p>
                                <p class="card-text">{{ 'show.children.value'|trans({'%children_remaining_places%': occurrence.remainingChildrenPlaces,}, 'occurrence') }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="row justify-content-center">
            {% if app.user %}
                {% if registered %}
                    <div class="col-lg-4">
                        <h5>Envoyer un message aux référents de l'action</h5>
                        {{ form_start(contactForm) }}
                        {{ form_row(contactForm.message) }}
                        <div class="form-group text-center mt-lg-5">
                            <button type="submit" id="contact-submit" class="btn btn-block big_block_btn btn-primary">
                                {{ 'form.submit.label'|trans({}, 'contact') }}
                            </button>
                        </div>
                        {{ form_end(contactForm) }}
                    </div>
                {% endif %}
            {% endif %}
            <div class="col-lg-8">
                <p>{{ occurrence.action.description|markdown }}</p>
                <h2>{{ occurrence.action.partner.name }}</h2>
                <p>{{ occurrence.action.partner.description }}</p>
            </div>

        </div>
    </div>
{% endblock %}
