{% for msg in app.session.flashBag.get('success') %}
    <div class="container-fluid mt-5 alert alert-success text-center alert-dismissible fade show" role="alert">
        {{ msg|trans({}, 'alerts') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('warning') %}
    <div class="container-fluid mt-5 alert alert-warning alert-dismissible fade show text-center" role="alert">
        {{ msg|trans({}, 'alerts') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('danger') %}
    <div class="container-fluid mt-5 alert alert-danger alert-dismissible fade show text-center" role="alert">
        {{ msg|trans({}, 'alerts') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

{% for msg in app.flashes('notification') %}
    <div class="container-fluid mt-5 alert alert-primary text-center alert-dismissible fade show" role="alert">
        {{ msg|trans({}, 'alerts') }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
