<!-- scroll up-->
{# <div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div><!-- End off scroll up --> #}

<footer id="footer" class="footer mt-auto py-4">
    <div class="container ">
        <div class="row justify-content-lg-center">
            <div class="col-lg-3 text-center mb-2">
                <a href="{{ path('homepage') }}"><img src="{{ asset('build/images/layout/logo-white.png') }}"
                                                      class="logo logo-scrolled" alt=""></a>
            </div>
            <div class="col-lg-3 text-center">
                <p><a href="{{ path('terms_of_service') }}">{{ 'legal_disclaimer.link'|trans({}, 'footer') }}</a></p>
                <p><a href="{{ path('contact_us') }}">{{ 'contact_us.link'|trans({}, 'footer') }}</a></p>
                <p><a href="{{ path('about_us') }}">{{ 'about_us.link'|trans({}, 'footer') }}</a></p>

            </div>
            <div class="col-lg-2 text-center">
                <p>
                    <a href="https://www.facebook.com/TiKare-111897557161129">{{ 'facebook.link'|trans({}, 'footer') }}</a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/company/tikare/about/">{{ 'linkedin.link'|trans({}, 'footer') }}</a>
                </p>
                {% if is_granted('ROLE_ADMIN') %}
                    <p><a href="{{ path('admin_user_index') }}">{{ 'admin.link'|trans({}, 'footer') }}</a></p>
                {% endif %}
            </div>
            {% if app.request.attributes.get('_route') == 'homepage' %}
                <div class="col-lg-4 text-center">
                    <h6 class="text-center text-white">{{ 'subscribe.title'|trans({}, 'homepage') }}</h6>
                    {{ form_start(newsletterSubscriptionFrom) }}
                    <div class="row">
                        <div class="col-9">
                            {{ form_label(newsletterSubscriptionFrom.email) }}
                            {{ form_errors(newsletterSubscriptionFrom.email) }}
                            {{ form_widget(newsletterSubscriptionFrom.email) }}
                            {{ form_help(newsletterSubscriptionFrom.email) }}
                        </div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary mt-1" formnovalidate>
                                {# {{ 'subscribe.form.button'|trans({}, 'homepage') }} #}
                                <span class="fa fa-chevron-circle-right"></span>
                            </button>
                        </div>
                    </div>
                    {{ form_end(newsletterSubscriptionFrom) }}
                </div>
            {% endif %}
        </div>
    </div>
    {# <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                    href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> #}
</footer>
