<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img src="{{ asset('build/images/layout/logo-red.png') }}" class="logo logo-scrolled" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_REFERRER') %}
                    <li class="nav-item">
                        <a class="btn little-btn btn-secondary"
                           href="{{ path('referrer_occurrence_index') }}">{{ 'referrer'|trans({}, 'nav') }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="btn little-btn btn-outline-secondary"
                       href="{{ path('occurrence_index') }}">{{ 'occurrences'|trans({}, 'nav') }}</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="btn little-btn btn-outline-secondary"
                           href="{{ path('registration_index') }}">{{ 'registrations'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn little-btn btn-primary"
                           href="{{ path('user_show') }}">{{ 'profile'|trans({}, 'nav') }}</a>
                    </li>
                    <a type="button" class="btn little-btn btn-primary" href={{ path('app_logout') }}>
                        <i class="icofont icofont-logout"></i>
                    </a>
                {% else %}
                    <a type="button" class="btn little-btn btn-primary" href={{ path('app_login') }}>
                        {{ 'login'|trans({}, 'nav') }}
                    </a>
                {% endif %}
                {% if is_granted('IS_IMPERSONATOR') %}
                    <a type="button" class="btn little-btn btn-primary" href="{{ path('admin_user_index', {'_switch_user': '_exit'}) }}">Quitter le contrôle</a>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>