{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'change_email.browser_tab_title'|trans({'%firstname%': user.firstName}, 'user') }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-lg-center my-5">
            <div class="col-lg-8">
                <h1>{{ 'change_email.title'|trans({}, 'user') }}</h1>

                {{ include('user/_form.html.twig', {'button_label': 'change_email.form.submit'|trans({}, 'user')}) }}
            </div>
        </div>
    </div>
{% endblock %}
