{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'show.browser_tab_title'|trans({'%firstname%': user.firstName}, 'user') }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <img class="img-fluid rounded"
                                     src="{{ user.profilePicturePath|imagine_filter('squared_thumbnail_small') }}"
                                     alt="...">
                            </div>
                            <div class="col-lg-8">
                                <h3 class="card-text">
                                    {{ user.firstname }} {{ user.lastName|upper }}
                                </h3>
                                <p>
                                    {{ 'show.district'|trans({'district': user.district}, 'user') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if is_granted('ROLE_REFERRER') %}

                    {% if user.birthday.diff.y < 18 %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-8">
                                        <h3>{{ 'show.parental_consent.title'|trans({}, 'user') }}</h3>
                                        <p>
                                            {{ 'show.parental_consent.description'|trans({'email': user.email}, 'user') }}
                                        </p>
                                        <p>
                                            {{ 'public_show.parental_consent.status'|trans({
                                                'parental_consent_status': user.parentalConsentValid
                                            }, 'user') }}
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        {% if user.parentalConsentFilename %}

                                            <a class="btn btn-primary little-btn"
                                               href="{{ uploaded_asset(user.parentalConsentPath) }}">
                                                {{ 'show.parental_consent.link'|trans({}, 'user') }}
                                            </a>

                                        {% else %}
                                            <p>{{ 'show.parental_consent.no_file'|trans({}, 'user') }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <h3>{{ 'show.account.title'|trans({}, 'user') }}</h3>
                                    <p><span class="badge badge-primary mb-1">
                                        {{ 'show.account.image_clearance.title'|trans({}, 'user') }}
                                        <i class="fa fa-camera"></i>
                                    </span>
                                        {{ 'public_show.account.image_clearance.description'|trans({'clearance' : user.imageRightClearance}, 'user') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
