{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'register') }}{% endblock %}

{% block body %}

    <section id="register-title">
        <div class="container my-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-10">
                    <h1>{{ 'form.title'|trans({}, 'register') }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="register_form">
        <div class="container mb-5">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8">
                    <div class="alert-link text-right">
                        <a href="{{ path('app_login') }}">{{ 'form.already_have_account'|trans({}, 'register') }}</a>
                    </div>

                    {% if app.user %}
                        <div class="alert alert-info text-center">
                            {{ 'form.already_connected'|trans({'%username%' : app.user.username }, 'login') }}
                        </div>

                        {% else %}
                            {{ form_start(user_register_form) }}

                            {{ form_row(user_register_form.email) }}
                            {{ form_row(user_register_form.firstName) }}
                            {{ form_row(user_register_form.lastName) }}
                            {{ form_row(user_register_form.birthday) }}
                            {{ form_row(user_register_form.phoneNumber) }}
                            {{ form_row(user_register_form.district) }}
                            {{ form_row(user_register_form.plainPassword) }}
                            {{ form_row(user_register_form.agreedTerms) }}

                            <button type="submit" class="btn big_btn btn-primary">
                                {{ 'form.submit'|trans({}, 'register') }}
                            </button>

                            {{ form_end(user_register_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
