{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'show.browser_tab_title'|trans({'%firstname%': user.firstName}, 'user') }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-10">
                <div class="text-right">
                    <a class="btn btn-primary little-btn"
                       href="{{ path('user_edit') }}">{{ 'show.edit'|trans({}, 'user') }}</a>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <img class="img-fluid rounded"
                                     src="{{ user.profilePicturePath|imagine_filter('squared_thumbnail_small') }}"
                                     alt="...">
                            </div>
                            <div class="col-lg-8">
                                <h3 class="card-text">
                                    {{ user.firstname }} {{ user.lastName|upper }}
                                </h3>
                                <p>
                                    {{ 'show.birthday'|trans({'birthday': user.birthday|format_date}, 'user') }}
                                </p>
                                <p>
                                    {{ 'show.district'|trans({'district': user.district}, 'user') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3>{{ 'show.contact.title'|trans({}, 'user') }}</h3>
                                <p>
                                    {{ 'show.contact.email'|trans({'email': user.email}, 'user') }}
                                </p>
                                <p>
                                    {{ 'show.contact.phone_number'|trans({'phone_number': user.phoneNumber}, 'user') }}
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-primary little-btn" href="{{ path('app_change_email_request') }}">
                                    {{ 'show.contact.email_edit_button'|trans({}, 'user') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.birthday.diff.y < 18 %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-lg-8">
                                    <h3>{{ 'show.parental_consent.title'|trans({}, 'user') }}</h3>
                                    <p>
                                        {{ 'show.parental_consent.description'|trans({'email': user.email}, 'user') }}
                                    </p>
                                    <p>
                                        {{ 'show.parental_consent.status'|trans({'parental_consent_status': user.parentalConsentValid}, 'user') }}
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <a class="btn btn-primary little-btn"
                                       href="{{ path('user_upload_parental_consent') }}">
                                        {{ 'show.parental_consent.upload_button'|trans({}, 'user') }}
                                        <span class="fa fa-upload"></span></a>
                                    {% if user.parentalConsentFile %}
                                        {{ user.parentalConsentFile.originalFilename }}
                                        <a class="btn btn-primary little-btn"
                                           href="{{ path('user_download_parental_consent') }}">
                                            {{ 'show.parental_consent.download_button'|trans({}, 'user') }}
                                            <span class="fa fa-download"></span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <h3>{{ 'show.account.title'|trans({}, 'user') }}</h3>
                                <p>
                                    {{ 'show.account.created_at'|trans({'created_at': user.createdAt|format_datetime}, 'user') }}
                                </p>
                                <p><span class="badge badge-primary mb-1">
                                        {{ 'show.account.image_clearance.title'|trans({}, 'user') }}
                                        <i class="fa fa-camera"></i>
                                    </span>
                                    {{ 'show.account.image_clearance.description'|trans({'clearance' : user.imageRightClearance}, 'user') }}
                                </p>
                                <p>
                                    <span class="badge badge-primary mb-1">
                                        {{ 'show.account.newsletter.title'|trans({}, 'user') }}
                                        <i class="fa fa-newspaper-o"></i>
                                    </span>
                                    {{ 'show.account.newsletter.description'|trans({'newsletter': user.newsletter}, 'user') }}
                                </p>
                                <p>
                                    <span class="badge badge-primary mb-1">
                                        {{ 'show.account.deletion.title'|trans({}, 'user') }}
                                        <i class="fa fa-ban"></i>
                                    </span>
                                    {{ 'show.account.deletion.description'|trans({'newsletter': user.newsletter}, 'user') }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-8">
                                <h3>{{ 'show.security.title'|trans({}, 'user') }}</h3>
                                <p>
                                    {{ 'show.security.last_password_change'|trans({'pass_changed_at': user.createdAt|format_datetime}, 'user') }}
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-primary little-btn" href="{{ path('app_forgot_password_request') }}">
                                    {{ 'show.security.pass_change_button'|trans({}, 'user') }}
                                </a>
                            </div>

                            <div class="col-lg-8">
                                <p>
                                    {{ 'show.deactivate.description'|trans({}, 'user') }}
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <a class="btn btn-primary little-btn" href="{{ path('user_deactivate') }}">
                                    {{ 'show.deactivate.button'|trans({}, 'user') }}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
