{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>

        {% block content %}{% endblock %}

        <row class="footer">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        {{ 'footer.send-to'|trans({'%name%':email.toName, '%email%': emailTo}, 'email') }}
                    </div>
                </center>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
{#                        <a href="#">{{ 'footer.unsubscribe'|trans({}, 'email') }}</a>#}
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
