{% extends 'email/email.base.html.twig' %}

{% block content %}
    <row class="header">
        <columns>
            <a href="{{ url('homepage') }}">
                <img src="{{ email.image('@images/email/tikare_background.png') }}" class="logo" alt="Logo Tikare">
            </a>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                Bonjour,<br><br>

                Vous êtes bien inscrit.e à notre newsletter.<br><br>

                Merci pour votre confiance !<br><br>

                N'hésitez pas à nous contacter : <a href="mailto:contact@tikare.fr">contact@tikare.fr</a><br><br>

                Pierre & Jérémy
                Cofondateurs de TiKare
                <a href="mailto:pierre@tikare.fr">pierre@tikare.fr</a> / <a href="mailto:jeremy@tikare.fr">jeremy@tikare.fr</a>
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>

    <row class="inline-separate">
        <columns>
            <a href="{{ url('homepage') }}">
            </a>
        </columns>
    </row>
{% endblock %}
