{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn" href="{{ path('admin_occurrence_new') }}">{{ 'index.create'|trans({}, 'admin-occurrence') }}</a>
                <div class="col my-3">
                    <form>
                        <div class="input-group custom-search-form">
                            <input
                                    type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'index.search.placeholder'|trans({}, 'admin-action') }}"
                                    value="{{ app.request.query.get('search') }}"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.partner'|trans({}, 'admin-occurrence'), 'partner.name') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.action'|trans({}, 'admin-occurrence'), 'action.title') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.date'|trans({}, 'admin-occurrence'), 'occurrence.startAt') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.volunteers_number'|trans({}, 'admin-occurrence'), 'occurrence.totalNeededVolunteers') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.children_age'|trans({}, 'admin-occurrence'), 'occurrence.childrenMinimumAge') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.children_number'|trans({}, 'admin-occurrence'), 'occurrence.childrenMaximumNumber') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.register_closed_at'|trans({}, 'admin-occurrence'), 'occurrence.registerClosedAt') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.published_at'|trans({}, 'admin-occurrence'), 'occurrence.publishedAt') }}</th>
                        <th>{{ knp_pagination_sortable(occurrences, 'index.publishable'|trans({}, 'admin-occurrence'), 'occurrence.publishable') }}</th>
                        <th>{{ 'index.actions.title'|trans({}, 'admin-occurrence') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for occurrence in occurrences %}
                        <tr>
                            <td>{{ occurrence.action.partner.name }}</td>
                            <td>{{ occurrence.action.title }}</td>
                            <td>{{ occurrence.startAt|format_date('short') }} {{ occurrence.startAt|format_time('short') }}-{{ occurrence.endsAt|format_time('short') }}</td>
                            <td>{{ occurrence.totalNeededVolunteers - occurrence.remainingNeededVolunteers}} / {{ occurrence.totalNeededVolunteers }}</td>
                            <td>{{ occurrence.childrenMinimumAge }} ans</td>
                            <td>{{ occurrence.childrenMaximumNumber - occurrence.remainingChildrenPlaces }} / {{ occurrence.childrenMaximumNumber }}</td>
                            <td>{{ occurrence.registerClosedAt|format_datetime('short') }}</td>
                            <td>{{ occurrence.publishedAt|format_datetime('short') }}</td>
                            <td>{{ occurrence.publishable ? 'Yes' : 'No' }}</td>
                            <td>
                                <a href="{{ path('admin_occurrence_show', {'id': occurrence.id}) }}">{{ 'index.actions.show'|trans({}, 'admin-occurrence') }}</a>
                                <a href="{{ path('admin_occurrence_edit', {'id': occurrence.id}) }}">{{ 'index.actions.edit'|trans({}, 'admin-occurrence') }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'admin-occurrence') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row justify-content-center mt-5">
            {{ knp_pagination_render(occurrences) }}
        </div>
    </div>
{% endblock %}