{% extends 'admin/layout/base.html.twig' %}

{#https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform?hl=FR#}

{% block body %}
    <div class="container">
        <div class="row justify-content-lg-center my-5">
            <div class="col-lg-8">
                <h1>Create new Occurrence</h1>

                {{ include('admin/occurrence/_form.html.twig') }}

                <a href="{{ path('admin_occurrence_index') }}">back to list</a>
            </div>
        </div>
    </div>


{% endblock %}
