{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn"
                   href="{{ path('admin_partner_new') }}">{{ 'index.create'|trans({}, 'admin-partner') }}</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'index.airtable_id'|trans({}, 'admin-partner') }}</th>
                        <th>{{ 'index.name'|trans({}, 'admin-partner') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for partner in partners %}
                        <tr>
                            <td><a href="{{ path('admin_partner_new', {'airtableId': partner.id}) }}">{{ partner.id }}</a></td>
                            <td>{{ partner.fields.Name }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'admin-partner') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
        </div>
    </div>
{% endblock %}
