{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <a class="btn btn-primary little-btn" href="{{ path('admin_partner_new') }}">{{ 'index.create'|trans({}, 'admin-partner') }}</a>
                <a class="btn btn-primary little-btn" href="{{ path('admin_partner_airtable_index') }}">{{ 'index.airtable-create'|trans({}, 'admin-partner') }}</a>
                <div class="col my-3">
                    <form>
                        <div class="input-group custom-search-form">
                            <input
                                    type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'index.search.placeholder'|trans({}, 'admin-partner') }}"
                                    value="{{ app.request.query.get('search') }}"
                            >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'index.airtable_id'|trans({}, 'admin-partner') }}</th>
                        <th>{{ knp_pagination_sortable(partners, 'index.name'|trans({}, 'admin-partner'), 'partner.name') }}</th>
                        <th>{{ knp_pagination_sortable(partners, 'index.website'|trans({}, 'admin-partner'), 'partner.website') }}</th>
                        <th>{{ 'index.actions.title'|trans({}, 'admin-partner') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for partner in partners %}
                        <tr>
                            <td>{{ partner.airTableId }}</td>
                            <td>{{ partner.name }}</td>
                            <td>{{ partner.website }}</td>
                            <td>
                                <a href="{{ path('admin_partner_show', {'id': partner.id}) }}">{{ 'index.actions.show'|trans({}, 'admin-partner') }}</a>
                                <a href="{{ path('admin_partner_edit', {'id': partner.id}) }}">{{ 'index.actions.edit'|trans({}, 'admin-partner') }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">{{ 'index.no_records'|trans({}, 'admin-partner') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            {{ knp_pagination_render(partners) }}
        </div>
    </div>
{% endblock %}
