{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-lg-center my-5">
            <div class="col-lg-8">

                {{ include('admin/partner/_form.html.twig') }}

                <a id="airtableUpdate" href="">Update from Airtable</a>
                <a href="{{ path('admin_partner_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}
