{% extends 'admin/layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ partner.id }}</td>
                    </tr>
                    <tr>
                        <th>AirTableId</th>
                        <td>{{ partner.airTableId }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ partner.name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ partner.description }}</td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>{{ partner.website }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('admin_partner_index') }}">back to list</a>

                <a href="{{ path('admin_partner_edit', {'id': partner.id}) }}">edit</a>

                {{ include('admin/partner/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
